/* NAV-BAR-STYLE ---START--- */
:root{
    --blue-font:#50BDC9;
    --red-font:#FF8980;
    --nav-color:#6edbe79d;
    --border-radius: 5px;
    --color-bg: #fff;
    --line-height: 150%;
    --hover-brightness: 1.2;
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
body{
    margin: auto;
}

a{
    text-decoration: none;
    color: var(--blue-fontfont);
}

.nav{
    padding: 10px 10px 10px 5px;
    padding-right: 10px;
    padding-left: 10px;
    background: #6edbe79d;
}

h2{
    margin-top: 10px;
    color: var(--blue-font);
    display: inline;
 }
 
.spanR{
     color: #FF8980;
     font-weight: bold;
 }

.sections{
    margin-top: 5px;
    float: right;
    color: var(--blue-font) ;
    font-weight: bold;
    font-size: large;
}
.section{
    padding: 5px;
    margin-right: 5px;
}
.section:hover{
    color: var(--red-font);
}

.sectionsActive{
    color: var(--red-font);
    text-shadow: 1px 1px 3px  var(--red-font);
}

/* NAV-BAR-STYLE ---END--- */

/* add-Meds-Style ---START--- */



/* .addButton{
    border-radius: var(--border-radius);
    margin-left: 50px;
    font-size: medium;
    font-weight: bold;
    padding: 0.5rem 1rem;
    font-family: var(--font);
    background-color: #FF8980;
    border: 2px solid #FF8980;
    color: var(--color-bg);
}

button:hover {
    cursor: pointer;
    filter: brightness(var(--hover-brightness));
} */


