<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Firebase Server Auth</title>
  <!-- CSS LINK -->
  <link  rel="stylesheet" href="/profile.css" />
  <!-- FontWesome -->
  <script src="https://kit.fontawesome.com/08d515a87b.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="nav">
    <h2 class="er modal"><span class="spanR">P</span>ocket <span class="spanR">P</span>harmacy</h2>

    <div class="sections">
      <span class="section"> Home </span>
      <span class="section">
        <a href="/addMeds">Add Medicine</a></span>
      <span class="section">
        <a href="/sessionLogout" class="log">Log out
        <i class="fa-solid fa-arrow-right-from-bracket"></i> </a>
      </span>
    </div>
  </nav>

  <main>
    <div class="searchForm">
      <input class="searchInput" type="text" name="searchForm" placeholder="Search For medicin Name" />
      <button class="searchButton">Search</button>
  </main>

  <script src="/Profile.js"> </script>

</body>

</html>